<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Category List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div *ngIf="categoryList">
             <ion-list>
                <ion-item *ngFor="let cat of categoryList" detail lines="none" (click)="navigate(cat.strCategory)">
                  <ion-label>
                      {{cat.strCategory}}
                  </ion-label>
                </ion-item>
              </ion-list>
          </div>
           
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  