ion-toolbar {
  --background: linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
  height: 150px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;

  .list-title{
      color: #fff;
      text-align: center;
      margin-top: 50px;
  }

}
