<ion-header class="header-area">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="list-title">
      Cheers
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let category of categories">
        <ion-card (click)="navigete(category.nav)">
          <ion-item>
            <ion-icon [name]="category.icon" slot="start"></ion-icon>
            <ion-label>{{category.cat}}</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>

          <ion-card-content>
            {{category.desc}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
