<ion-header class="app-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Thirsty
    </ion-title>
    <ion-searchbar [(ngModel)] ="searchTerm" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    
  <div *ngIf="drinks; else noDrinks">
      <ion-item margin *ngFor='let drink of drinks' (click)="navigate(drink.idDrink)" lines="none">
          <ion-avatar slot="start">
            <img [src]="drink.strDrinkThumb">
          </ion-avatar>
          <ion-label>{{drink.strDrink}}</ion-label>
        </ion-item>
  </div>
  <ng-template #noDrinks
    >Getting Thirsty</ng-template
  >
</ion-content>
